<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1 id="titletext">The Battleship game</h1>
<h2 id="enemyboard">enemy board</h2>
<table id="opponent" class="battleGrid">
</table>
<h2 id="playerboard"> player board</h2>
<table id="player" class="battleGrid">
</table>

<ul class="shiptype">
    <li><button id="place_minesweeper">Place Minesweeper</button></li>
    <li><button id="place_destroyer">Place Destroyer</button></li>
    <li><button id="place_battleship">Place Battleship</button></li>
    <li><input type="checkbox" id="is_vertical">Vertical</input></li>
</ul>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>